:root {
    --espaciado: 18em;
    --padding-form: 10px;
    --padding-form-add: 10px 0.5px;
}

body {
    background-color: rgb(204, 209, 210);
}


/* Estilos header */

header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: #333;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 100px;
    height: 60px;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

footer {
    background-color: #333;
    color: white;
    padding: 15px 15px;
    text-align: center;
}

/* hero */

#hero {
    margin-top: 100px;
    background-color: blue;
}

/* estilo muro */

.noticia {
    border: black solid 1px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: white;
}

main {
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: flex;
    justify-content: center;
}

.muroDePublicaciones {
    background-color: red;
    padding: 25px;
    border: solid rgb(255, 0, 0);
    position: relative;
}

/* estilo formulario */

.formulario {
    margin: 0px 20px;
    padding: 10px 20px;
    background-color: aqua;
    position: relative;
}

.titulo{
    width: var(--espaciado);
    padding: var(--padding-form-add);
    border-radius: 20px;
}

.categoria{
    width: var(--espaciado);
    padding: var(--padding-form);
    border-radius: 20px;
}

.descripcion{
    width: var(--espaciado);
    height: 100px;
    padding: var(--padding-form-add);
    border-radius: 20px;
    resize: none;
}

.enviar{
    width: var(--espaciado);
    padding: var(--padding-form);
    border-radius: 20px;
}

.restablecer{
    width: var(--espaciado);
    padding: var(--padding-form);
    border-radius: 20px;
}